/*-----------------------------------------------------------------------*/
/* Basic Setup */
/*-----------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html {
    
    background-color: #fff;
    color: #575757;
    font-family: 'Lato' , 'Arial' , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    
}

/*-----------------------------------------------------------------------*/
/* Reusable Component  */
/*-----------------------------------------------------------------------*/

.row {
    
    max-width: 1140px;
    margin: 0 auto;
}

section {
    
    padding: 80px 0;
}

.box{
    padding: 1%;
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----- Headings -----*/

h1,h2,h3{
    
    font-weight: 400;
    text-transform: uppercase;
    
    
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;   
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    
}

/* ----Paragrapghs-----*/

.long-copy{
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}

/* ----Butons-----*/

.btn:link,.btn:visited,input[type=submit] {
    
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
}

.btn-full:link,.btn-full:visited,input[type=submit] {
    
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: white;
    margin-right: 10px
}

.btn-ghost:link,.btn-ghost:visited{
    
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover,.btn:active{
    
    background-color: #bf6516;
    
}

.btn-full:hover,.btn-full:active,input[type=submit]:hover,input[type=submit]:active{
    
    border: 1px solid #bf6516;
    
}

.btn-ghost:hover,.btn-ghost:active{
    
    border: 1px solid #bf6516;
    color: #fff;
}

/*-----------------------------------------------------------------------*/
/* Header  */
/*-----------------------------------------------------------------------*/

header {
    
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)) , url(img/imag-file-types.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text{
    
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.logo{
    
    height: 200px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,.main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: color 0.2s;
    
}

.main-nav li a:hover,.main-nav li a:active {
    color: #e67e22;
    
    
}


/*-----------------------------------------------------------------------*/
/* Formats section  */
/*-----------------------------------------------------------------------*/
.format-showcase {
    list-style: none;
    width: 100%;
}

.format-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.format-photo{
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #eaeaea;
}

.format-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto; 
    transition: transform 0.5s , opacity 0.5s;
    
}

.format-photo img:hover{
    opacity: 1;
    transform: scale(0.90);
}


.section-formats {
    background-color: #eaeaea;
}

/*-----------------------------------------------------------------------*/
/* How it works section  */
/*-----------------------------------------------------------------------*/

.step-box:first-child{
    
    text-align: right;
    padding-right: 3%;
    
}

.step-box:last-child{
    
    padding-left: 3%;
    margin-top: 40px;
    
}

.file-trans-photo {
    width: 50%;
}

.works-step {
    margin-bottom: 40px;
    
}

.centered-para {

    padding: 2% 0;

}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 15px;
    
}

.section-steps {
    background-color: #fff;
    padding-bottom: 0%;
}

/*-----------------------------------------------------------------------*/
/* Conversion section  */
/*-----------------------------------------------------------------------*/

.section-conversion{

    background-color: #eaeaea;

}

.upload-btn {
    
    color: #fff;
    background-color: #e67e22;
    padding: 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
    text-align: center;
    border: 2px solid #E8E8E8;
}

.upload-btn:hover,.upload-btn:active{

    background-color: #bf6516;
}


.upload-btn-div {

    display: block;  
    text-align: center;
    padding-top: 3%;
}

.hidden-message {

    display: none;
    text-align: center;
    padding-top: 2%;
}


.box img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
}
a:link,a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 2px;
    transition: border-bottom 0.2s, color 0.2s;
}
a:hover,a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}


footer {
    background-color: #505050;
    padding: 100px 30px;
}

.social-links {
    list-style: none;
    float: right;
}


.social-links li{
    display: inline-block;
    margin-right: 20px;
     
}

footer p {

    color: #fff;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}
  
  
.fa-facebook {
    /* background: #3B5998; */
    color: #3B5998;
}
  
.fa-linkedin {
    /* background: #0a66c2; */
    color: #0a66c2;
}


.stickyicon-list {   
    position: fixed;   
    top: 200px;   
    transform: translateY(-50%);             
    }         
    .stickyicon-list a {   
    display: block;   
    text-align: center;   
    padding: 8px;   
    transition: all 0.5s ease;   
    color: white;   
    font-size: 20px;   
}         
     
.stickyicon-list a:hover {   
    color: #000;   
    width:10px;   
}   
       
.facebook {   
    background: #3b5998;   
    color: white;  
}         

.linkedin {   
    background: #0e76a8;   
    color: white;   
}         
